body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6fa;
}


.topbar {
  height: 60px;
  background-color: #2d3748;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.brandTitle {
  font-weight: bold;
  font-size: 18px;
  font-family: Rubik, sans-serif;
}

.iconBtn {
  background: #4a5568;
  border: none;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}


.layout {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.main {
  flex: 3;
}


.addForm {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.textInput {
  flex: 1;
  padding: 8px;
}

.primaryBtn {
  padding: 8px 12px;
  background-color: #3182ce;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(2, 19, 36, 0.4);
}
.primaryBtn:hover {
  background-color: #2b6cb0;
}


.statsRow {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.statCard {
  flex: 1;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #85888d;
}

.statCardStatic {
  cursor: default;
}

/* TASK CARD */
.card {
  background: white;
  border: 1px solid #933636;
  padding: 15px;
  border-radius: 5px;
}

.list {
  margin-top: 10px;
}

.empty {
  color: gray;
}

/* SIDEBAR */
.sidebar {
  flex: 1;
  background: rgb(178, 178, 178);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.sidebar.closed {
  display: none;
}

.panel {
  margin-bottom: 10px;
}

.panelBtn {
  width: 100%;
  padding: 8px;
  background-color: #505967;
  border: none;
  text-align: left;
  cursor: pointer;
  font-weight: 600;
  color: white;
  border-radius: 5px;
}
.panelBtn:hover {
  background-color: #2d3748;
}
.ghostBtn {
  background: none;
  border: 1px dashed #111f2c;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 5px;
}
.ghostBtn:hover {
  background-color: #e2e8f0;
}

.panelBody {
  margin-top: 5px;
  padding-left: 10px;
}

.pill {
  background: #3182ce;
  color: white;
  padding: 2px 6px;
  font-size: 12px;
  margin-left: 5px;
  border-radius: 3px;
}


.task-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}